// Margin
.has-margin-bottom-2 { margin-bottom: 0.5rem !important; }
.has-margin-top-4 { margin-top: 1rem !important; }

// Display
.is-inline-block { display: inline-block !important; }

// Background
.has-background-black-20 { background-color: rgba(0, 0, 0, 0.20) !important; }