$primary: #ff3860;
$primary-darker: #ed2f55;

$primary-washed: #fd5476;
$primary-washed-darker: #ef4f6f;

$title-weight: 400;

$menu-item-hover-background-color: lighten($primary, 30%);
$menu-item-active-color: $primary;
$menu-item-active-background-color: #FFFFFF;